.game {
  max-width: 860px;
  margin: 40px auto;

  justify-content: center;
  text-align: center;
  align-items: center;
}

.card-grid {
  margin-top: -4%;
  margin-bottom: -7%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.layout {
  display: grid;
  grid-template-columns: 0.2fr 0.9fr;
}

.title-container {
  width: 860px;
  background-color: rgba(0, 0, 0, 0.5);
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.score-container {
  background-color: rgba(0, 0, 0, 0.5);
}
