@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

body {
  margin: 0;

  font-family: "Yusei Magic", sans-serif;
  font-size: 1.5em;

  text-align: center;
  background: #49a856;
  color: #fff;
}
