@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

body {
  margin: 0;
  font-family: "Yusei Magic", sans-serif;
  font-size: 1.5em;
  text-align: center;
  color: #fff;
  overflow-x: hidden;
  overflow-y: hidden;
}
